#Works {
    margin: 0 auto;
    min-height:calc(100vh - 4rem) ;
    width: 100vw;
    max-width: 60rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 1rem;

}

.Workstitle {
    margin: 1rem 0;
    font-size: 3rem;

}

.WorksDesc {
    font-weight: 300;
    font-size: 1rem;

}

.WorksImgs {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap:wrap ;
    width: 100vw;
    max-width: 65rem;

}

.workImg {
    object-fit: cover;
    height: 20rem;
    margin: 0.5rem;
    
}

.workBtn{
    padding: 0.5rem 2.5rem;
    margin: 2rem;
    background-color: white;
    color: black;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
    border: none;
    border-radius: 2rem;
    

}
.workBtn:hover{
    background-color: yellow;
    border-bottom:1px   ;
    
}

/* @media screen (max-width:585px) {
    .Works{
        height: 50vw;
    }
} */